.cardBody {
	background-color: white;
	margin-bottom: 3px;
	text-align: center;
}

.cardBodyDark {
	background-color: #343a40;
	margin-bottom: 3px;
	text-align: center;
}

.darkMode {
	background-color: #343a40;
}